/***
  CSS reto Giphy - Promart
***/

/* Reset CSS by Rolo */
@import "reset.css"

/* Colores */
body-bg = #121212

link-blue = #00ccff
link-purple = #9933ff
link-pink = #e646b6
link-yellow = #fff9aa
link-green = #00ff99
link-button = #7160ff

dotA = #f66
dotB = #93f
dotC = #0cf
dotD = #0f9

search-deg1 = #9933ff
search-deg2 = #ff6666

categories-deg1 = #e646b6
categories-deg2 = #6157FF
categories-deg3 = #9933ff

text-animation = #a6a6a6

grid-green = #00ff99
grid-purple = #9933ff
grid-red = #ff6666
grid-yellow = #fff35c

upload-mobile = #6157FF

/* Fonts */
logo-text = 1.5em

/* Alturas */
nav-h = 58px
logo-svg-h = 35px
logo-svg-w = 28px

/* Icons */
[class*="icon-"]:before
  background-size cover
  content ""
  display block
  height 100%
  width 100%
.icon-dots-vertical:before
  -webkit-mask url("../icons/dots-three-vertical.svg") no-repeat center
  mask url("../icons/dots-three-vertical.svg") no-repeat center
.icon-search:before
  -webkit-mask url("../icons/search.svg") no-repeat center
  mask url("../icons/search.svg") no-repeat center
.icon-right:before
  -webkit-mask url("../icons/right.svg") no-repeat center
  mask url("../icons/right.svg") no-repeat center
.icon-login:before
  -webkit-mask url("../icons/login.svg") no-repeat center
  mask url("../icons/login.svg") no-repeat center

/* General */
body
  background-color body-bg
.is-hidden
  height 0
  display none
  opacity 0
  width 0
main .container
  flex-flow column

/* Loader */
#loader
  align-items center
  background-color body-bg
  display flex
  height 100vh
  justify-content center
  position fixed
  width 100vw
  z-index 9999
  .wrap-loader
    animation LoaderExpand .75s ease-in-out infinite alternate
    width 66px
  .dot
    border-radius 50%
    height 13px
    position absolute
    width 13px
  .dot-a
    animation LoaderdotA 1.5s ease-in-out infinite
    background-color dotA
    left 0%
  .dot-b
    animation LoaderdotB 1.5s ease-in-out infinite
    background-color dotB
    left 33%
  .dot-c
    animation LoaderdotC 1.5s ease-in-out infinite
    background-color dotC
    left 66%
  .dot-d
    animation LoaderdotD 1.5s ease-in-out infinite
    background-color dotD
    left 100%

/* Nav */
#nav
  height nav-h
  padding 0 10px
  width 100%
  .container
    align-items center
    height 100%
    position relative
  .logo
    align-items center
    display flex
  .logo-svg
    display block
    height logo-svg-h
    position relative
    width logo-svg-w
  .svg-effect:before
    background url("../img/logo_laser.svg") no-repeat 0 0
    background-size 1280px 80px
    background-position -1280px 0
    animation LogoSVG 1.5s steps(16)
    content ""
    height 80px
    left -26px
    top -23px
    width 80px
    position absolute
  .logo-text
    color white
    font-family 'arial black'
    font-size logo-text
    letter-spacing -1.5px
    margin-left 10px
    text-transform uppercase

#nav .nav-scroll
  position fixed
  top 5px
  z-index 2

#search.nav-scroll
  background-color body-bg
  position fixed
  top 0
  form
    margin-left 160px

/* Nav links Mobile */
  .links-mobile
    display flex
    justify-content flex-end
    width 100%
  .link-bar
    height 43px
    position relative
    width 39px
    svg
      position absolute
      transition transform 0.3s ease-out 0s, opacity 0.3s ease-out 0s
  .bar-off
    opacity 0
    transform rotate(90deg)

/* Nav links Desktop*/
  .links-desktop
    display flex
    margin-left 20px
    width 100%
  .links
    background linear-gradient(90deg,link-blue,link-purple 31%,link-pink 52%,link-yellow 77%,link-green,link-blue)
    background-position 0 50%
    background-size 200% 50%
    display flex
    transform translateZ(0)
  .link
    align-items center
    border-right 4px solid body-bg
    cursor pointer
    display flex
    height 36px
    position relative
    &:before
      background-color body-bg
      bottom 4px
      content ""
      left -1px
      opacity 1
      position absolute
      right 0
      top 0
      transition opacity .35s
      z-index 0
    a
      align-items center
      color white
      display flex
      font-size 14px
      padding 0 20px
      z-index 1
  .link:hover:before
    opacity 0
  .icon-dots-vertical:before
    background-color white
    height 20px
    width 20px
  .link-dot a
    padding 0 5px
  .link-button
    align-items center
    background-color link-button
    color white
    display flex
    font-size 14px
    margin 0 4px
    padding 0 15px
  .link-login
    background-color #3e3e3e
    display flex
    height 36px
    justify-content flex-end
    margin-left auto
    width 150px
    span
      align-items center
      color white
      display flex
      font-size 14px
      justify-content center
      width calc(100% - 50px)
  .icon-login
    align-items center
    background-color #515151
    display flex
    height 100%
    justify-content center
    margin-right 10px
    width 40px
    &:before
      background-color white
      height 20px
      padding 10px
      width 20px

/* Search */
#search
  padding 5px 0
  margin-bottom 15px
  width 100%
  form
    background-color white
    display flex
    position relative
    width 100%
  input, button
    border 0
  .search-input
    background-color transparent
    padding-left 10px
    width calc(100% - 44px)
    z-index 1
  .text-animations
    position absolute
    user-select none
    overflow hidden
    height 100%
    left 0
    top 0
    p
      color text-animation
      line-height 50px
      user-select none
      margin-left 10px
  .wrap-text-animations
    transform translateY(0)
    font-size 15px
    margin-top -3px
    animation TextAnimation 5s infinite
  .search-button
    background linear-gradient(45deg, search-deg1 0%, search-deg2 100%)
    height 44px
    padding 0
    position relative
    width 44px
    &:after
      animation SearchLoop 4s ease-in-out 0s infinite
      background linear-gradient(45deg, search-deg1 0%, search-deg2 50%, search-deg1 100%)
      background-size 400%
      bottom 0
      content ""
      display block
      height 100%
      left 0
      opacity 0
      position absolute
      right 0
      top 0
      width 100%
      z-index 0
  .icon-search:before
    background-color white
    height 30px
    left 7px
    position absolute
    top 7px
    transform rotateY(180deg)
    width 30px
    z-index 1

/* Categories Nav Mobile */
#categories-mobile
  animation BarCategoriesMobile .7s cubic-bezier(.165,.84,.44,1)
  left 0
  perspective 1000
  position absolute
  top nav-h
  width 100%
  z-index 2
  .container
    align-items flex-start
    flex-flow column
    position relative
    &:before
      animation BarCategoriesMobileTriangle .3s ease-out .7s 1 normal backwards
      border-bottom 8px solid
      border-left 8px solid transparent
      border-right 8px solid transparent
      color categories-deg1
      content ""
      margin-top -8px
      position absolute
      right 23px
      top 0
    &:after
      animation BarCategoriesMobileAppear .7s cubic-bezier(.165,.84,.44,1)
      background linear-gradient(categories-deg1 0%, categories-deg2 100%)
      content ""
      height 100%
      position absolute
      width 100%
      z-index -1
  .categories-section
    font-weight bold
    padding 15px 20px 5px
    width 100%
    &:nth-child(2)
      background-color rgba(black,.1)
    &:nth-child(3)
      background-color rgba(black,.2)
    &:nth-child(4)
      background-color rgba(black,.3)
    h2
      font-family "arial black"
      font-size 24px
      margin 5px 0 15px
    .icon-right:before
      background-color white
      height 20px
      margin-left 5px
      margin-top 5px
      width 20px
    a
      align-items center
      display flex
      color white
    ul
      columns 125px 2
      li
        line-height 32px
        margin-bottom 10px
      a
        opacity 0.8
  .categories-last-section
    background-color rgba(black,.4)
    color white
    font-weight bold
    padding 30px 20px
    text-align center
    width 100%
    h4
      font-family "arial black"
      margin-bottom 8px
    ul
      display flex
      justify-content center
    a
      color white
      font-size 12px
      margin 0 8px
      opacity 0.8

/* Categories Nav Desktop */
#categories-desktop
  animation fadeIn .5s ease
  background linear-gradient(135deg,categories-deg1,categories-deg3)
  left 0
  position absolute
  top nav-h
  width 100%
  z-index 999
  .categories-desktop-sections
    display flex
    justify-content space-between
    padding 30px 50px
    ul
      columns 2
  .categories-section
    h2
      border-bottom 1px solid rgba(white, .3)
      font-family "arial black"
      font-size 24px
      margin 5px 0 20px
      padding-bottom 10px
    li
      font-size 14px
      font-weight 600
      line-height 32px
    a
      color white
      &:hover
        opacity .8
        transition opacity .25s
  .no-columns ul
    columns auto
  .categories-desktop-footer
    background-color rgba(black,.2)
    color white
    display flex
    font-size 14px
    line-height 20px
    padding 20px 60px
    width 100%
    h6
      border-right 1px solid hsla(0,0%,100%,.2)
      font-family 'arial black'
      margin-right 30px
      padding-right 30px
    ul
      display flex
    li
      margin-right 20px

/* Use App */
#use-app
  bottom 25px
  box-shadow rgba(black, 0.33) 0px 2px 14px
  color white
  display block
  font-weight bold
  height 40px
  left 50%
  line-height 40px
  margin-left -85px
  position fixed
  text-align center
  width 170px
  z-index 999
  background categories-deg2
  border-radius 20px
  &:before
    content ""
    height 40px
    left 0px
    position absolute
    top -8px
    width 40px
    background url("../img/use-app.gif") center center / contain no-repeat

/* Trending y Searchs */
#trending, #search-results
  header
    align-items center
    color #a6a6a6
    display flex
    font-size 13px
    font-weight 600
    margin-bottom 15px
    padding 0 10px
    text-transform uppercase
  .see-all
    color #a6a6a6
    display flex
    margin-left auto
    i
      &:before
        background-color #a6a6a6
        height 15px
        width 15px
  ul
    column-count 5
    column-gap 10px
  li
    margin-bottom 10px
    &:nth-child(1n+0)
      background-color grid-green
    &:nth-child(2n+0)
      background-color grid-purple
    &:nth-child(3n+0)
      background-color grid-red
    &:nth-child(4n+0)
      background-color grid-yellow
  img
    height auto
    width 100%
#search-results
  margin-bottom 20px

/* Upload Mobile */
#upload-mobile
  animation UploadMobile .5s ease-out .2s 1 normal backwards
  height 100%
  margin 0 auto
  min-width 280px
  max-width 380px
  padding-top 40px
  width 86%
  .wrap-upload-mobile
    color white
    padding 60px 6px 76px
    text-align center
  h1, h2
    font-family 'arial black'
  h1
    font-size 34px
    margin-bottom 5px
    text-transform uppercase
  h2
    font-size 14px
    margin-bottom 10px
    opacity .8
  .upload-mobile-buttons
    padding 20px 0
  .upload-camera
    line-height 50px
    margin-bottom 10px
    position relative
    width 100%
    &:before
      background-color upload-mobile
      content "Upload from Camera Roll"
      cursor pointer
      font-size 12px
      font-weight 600
      height 100%
      position absolute
      text-align center
      text-transform uppercase
      width 100%
  .upload-url
    background-color white
    border none
    font-size 12px
    font-weight 600
    height 50px
    margin-top 10px
    padding 15px 10px
    text-align center
    text-transform uppercase
    width 100%
  .upload-mobile-footer
    bottom 10px
    font-size 13px
    font-weight 600
    left 0
    position absolute
    text-align center
    width 100%
    h4
      color white
      margin-bottom 15px
      a
        color #00cdff
    ul
      display flex
      justify-content space-around
      text-transform uppercase
      a
        color #a6a6a6

/* Upload Desktop */
#upload-desktop
  .upload-desktop-nav
    align-items center
    display flex
  .logo-text
    font-size 2.3em
  .upload-desktop-login
    background-color #3e3e3e
    display flex
    height 40px
    justify-content flex-end
    margin-left auto
    width 170px
    span
      align-items center
      color white
      display flex
      font-size 14px
      justify-content center
      width calc(100% - 50px)
  .icon-login
    align-items center
    background-color #515151
    display flex
    height 100%
    justify-content center
    margin-right 10px
    width 40px
    &:before
      background-color white
      height 20px
      padding 10px
      width 20px
  .wrap-upload-desktop
    background linear-gradient(135deg,categories-deg2,categories-deg1)
    color white
    margin 20px 5% 0
    padding 45px 75px
    header
      text-align center
      h3
        font-family 'arial black'
        font-size 26px
        font-weight 600
        margin 15px 0 10px
        text-align center
      p
        margin 0 auto
        width 70%
  .upload-desktop-inputs
    padding 20px
    margin-top 30px
  .input-first
    display flex
    min-height 125px
    position relative
    &:before
      border 2px dashed white
      content ""
      height 100%
      opacity .5
      position absolute
      width 100%
    &:after
      border 0.1em dashed white
      content ""
      height 100%
      left calc(50% - 2px)
      opacity .5
      position absolute
      width 1px
  .input-first-left, .input-first-right
    position relative
    width 50%
    &:before
      background-color white
      content ""
      height calc(100% - 10px)
      margin 5px
      opacity .2
      position absolute
      width calc(100% - 10px)
      z-index 0
  .upload-pc,.upload-dragdrop
    align-items center
    display flex
    justify-content center
    height 100%
    padding 0 20px
    position absolute
    width 100%
    z-index 1
    p
      font-weight 600
      text-transform uppercase
    span
      font-size 14px
      font-weight normal
      line-height 30px
      opacity .6
      text-transform none
  .upload-pc-icon,.upload-dragdrop-icon
    height 55px
    width 54px
  .upload-pc-icon
    background url("../icons/upload-pc.svg") no-repeat 0 0
  .upload-dragdrop-icon
    background url("../icons/upload-dragdrop.svg") no-repeat 0 0
  .input-last
    background-color rgba(white, .1)
    margin-top 25px
    padding 35px
    width 100%
    p
      font-weight 600
      margin-bottom 10px
      text-transform uppercase
    input
      border none
      font-size 12px
      height 40px
      padding 0 10px
      width 100%
  .upload-desktop-links
    display flex
    padding-left 20px
    a
      color white
      font-size 12px
      font-weight 600
      margin-right 15px
      text-transform uppercase

/* Querys */
@media only screen and (max-width:1024px)
  /* Mobile */
  #upload-desktop, #nav .links-desktop
    display none
  #nav .nav-scroll
    top 10px
@media only screen and (min-width:1024px)
  /* Desktop */
  #upload-mobile, #nav .links-mobile, #use-app
    display none
  #nav .logo-text
    font-size 2em


/* Animations */
@keyframes LoaderExpand
  0%
    width 66px
  100%
    width 100px
    transform translateX(0)

@keyframes LoaderdotA
  0%
    transform scale(1)
  30%
    transform scale(1.5)
  60%
    transform scale(1)

@keyframes LoaderdotB
  10%
    transform scale(1)
  40%
    transform scale(1.5)
  70%
    transform scale(1)

@keyframes LoaderdotC
  20%
    transform scale(1)
  50%
    transform scale(1.5)
  80%
    transform scale(1)

@keyframes LoaderdotD
  30%
    transform scale(1)
  65%
    transform scale(1.5)
  100%
    transform scale(1)

@keyframes LogoSVG
  0%
    background-position 0 0
  100%
    background-position -1280px 0

@keyframes TextAnimation
  0%
    transform translateY(0)
  45%
    transform translateY(0)
  50%
    transform translateY(-50px)
  95%
    transform translateY(-50px)
  100%
    transform translateY(-100px)

@keyframes SearchLoop
  0%
    background-position 0 0
    opacity 0.8
  100%
    background-position 100% 0
    opacity 0.2

@keyframes BarCategoriesMobile
  0%
    margin-bottom -50px
    opacity 0
    pointer-events none
    transform translateY(-50px)
  100%
    opacity 1
    pointer-events none
    transform translateY(0)

@keyframes BarCategoriesMobileAppear
  0%
    transform rotateX(90deg)
  100%
    transform rotateX(0deg)

@keyframes BarCategoriesMobileTriangle
  0%
    opacity 0
    transform translate3d(0,100%,0)
  10%
    opacity 1
  100%
    opacity 1
    transform translate3d(0,0)
