*,:after,:before{box-sizing:border-box}html{list-style:none;text-rendering:optimizeLegibility;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;text-size-adjust:100%}body{font-size:16px;font-family:"Gotham",sans-serif;font-weight:400;margin:0;min-width:320px;overflow-x:hidden}@font-face{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:"Gotham";font-style:normal}article,aside,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}video{display:inline-block;vertical-align:baseline}a{-webkit-text-decoration-skip:objects;background-color:transparent;text-decoration:none;text-decoration-skip:objects}a:active,a:hover{outline-width:0}ol,ul,li{list-style:none;margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;margin:0}figure{margin:0;height:auto}img{border:0;border-style:none;display:block;image-rendering:optimizeSpeed}button,input,select,textarea{font-size:100%;list-style:none;margin:0;outline:0}b,strong{font-weight:bolder}p{margin:0}button,input{overflow:visible}button,select{text-transform:none}textarea{overflow:auto}table{border-collapse:collapse;border-spacing:0}iframe{border:0}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}[class^="button-"]{border-radius:3px;font-size:14px;height:40px;line-height:40px;text-align:center;text-transform:uppercase;white-space:nowrap}.container{display:flex;max-width:1024px;margin:0 auto}.is-normal{-o-box-orient:vertical;flex-flow:column}@media (min-width:1200px){.container{width:1200px}}
/***
  CSS reto Giphy - Promart
***/
/* Reset CSS by Rolo */
/* Colores */
/* Fonts */
/* Alturas */
/* Icons */
[class*="icon-"]:before {
  background-size: cover;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}
.icon-dots-vertical:before {
  -webkit-mask: url(/images/dots-three-vertical.svg?0b16753faf43ae8d04792ee212629b45) no-repeat center;
  mask: url(/images/dots-three-vertical.svg?0b16753faf43ae8d04792ee212629b45) no-repeat center;
}
.icon-search:before {
  -webkit-mask: url(/images/search.svg?059fe929b53fc75a35d426e000e1e56c) no-repeat center;
  mask: url(/images/search.svg?059fe929b53fc75a35d426e000e1e56c) no-repeat center;
}
.icon-right:before {
  -webkit-mask: url(/images/right.svg?bf29665ea36feb569c363cc1e81137e8) no-repeat center;
  mask: url(/images/right.svg?bf29665ea36feb569c363cc1e81137e8) no-repeat center;
}
.icon-login:before {
  -webkit-mask: url(/images/login.svg?a4aa3571b864f32ac8e39968cd9a7cd7) no-repeat center;
  mask: url(/images/login.svg?a4aa3571b864f32ac8e39968cd9a7cd7) no-repeat center;
}
/* General */
body {
  background-color: #121212;
}
.is-hidden {
  height: 0;
  display: none;
  opacity: 0;
  width: 0;
}
main .container {
  flex-flow: column;
}
/* Loader */
#loader {
  align-items: center;
  background-color: #121212;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}
#loader .wrap-loader {
  -webkit-animation: LoaderExpand 0.75s ease-in-out infinite alternate;
          animation: LoaderExpand 0.75s ease-in-out infinite alternate;
  width: 66px;
}
#loader .dot {
  border-radius: 50%;
  height: 13px;
  position: absolute;
  width: 13px;
}
#loader .dot-a {
  -webkit-animation: LoaderdotA 1.5s ease-in-out infinite;
          animation: LoaderdotA 1.5s ease-in-out infinite;
  background-color: #f66;
  left: 0%;
}
#loader .dot-b {
  -webkit-animation: LoaderdotB 1.5s ease-in-out infinite;
          animation: LoaderdotB 1.5s ease-in-out infinite;
  background-color: #93f;
  left: 33%;
}
#loader .dot-c {
  -webkit-animation: LoaderdotC 1.5s ease-in-out infinite;
          animation: LoaderdotC 1.5s ease-in-out infinite;
  background-color: #0cf;
  left: 66%;
}
#loader .dot-d {
  -webkit-animation: LoaderdotD 1.5s ease-in-out infinite;
          animation: LoaderdotD 1.5s ease-in-out infinite;
  background-color: #0f9;
  left: 100%;
}
/* Nav */
#nav {
  height: 58px;
  padding: 0 10px;
  width: 100%;
}
#nav .container {
  align-items: center;
  height: 100%;
  position: relative;
}
#nav .logo {
  align-items: center;
  display: flex;
}
#nav .logo-svg {
  display: block;
  height: 35px;
  position: relative;
  width: 28px;
}
#nav .svg-effect:before {
  background: url(/images/logo_laser.svg?8f3d0c14ba40244d312d60f2a23574d3) no-repeat 0 0;
  background-size: 1280px 80px;
  background-position: -1280px 0;
  -webkit-animation: LogoSVG 1.5s steps(16);
          animation: LogoSVG 1.5s steps(16);
  content: "";
  height: 80px;
  left: -26px;
  top: -23px;
  width: 80px;
  position: absolute;
}
#nav .logo-text {
  color: #fff;
  font-family: 'arial black';
  font-size: 1.5em;
  letter-spacing: -1.5px;
  margin-left: 10px;
  text-transform: uppercase;
}
#nav .nav-scroll {
  position: fixed;
  top: 5px;
  z-index: 2;
}
#search.nav-scroll {
  background-color: #121212;
  position: fixed;
  top: 0;
}
#search.nav-scroll form {
  margin-left: 160px;
}
/* Nav links Mobile */
.links-mobile {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.link-bar {
  height: 43px;
  position: relative;
  width: 39px;
}
.link-bar svg {
  position: absolute;
  transition: opacity 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s, opacity 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s;
}
.bar-off {
  opacity: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/* Nav links Desktop*/
.links-desktop {
  display: flex;
  margin-left: 20px;
  width: 100%;
}
.links {
  background: linear-gradient(90deg, #0cf, #93f 31%, #e646b6 52%, #fff9aa 77%, #0f9, #0cf);
  background-position: 0 50%;
  background-size: 200% 50%;
  display: flex;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.link {
  align-items: center;
  border-right: 4px solid #121212;
  cursor: pointer;
  display: flex;
  height: 36px;
  position: relative;
}
.link:before {
  background-color: #121212;
  bottom: 4px;
  content: "";
  left: -1px;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.35s;
  z-index: 0;
}
.link a {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 14px;
  padding: 0 20px;
  z-index: 1;
}
.link:hover:before {
  opacity: 0;
}
.icon-dots-vertical:before {
  background-color: #fff;
  height: 20px;
  width: 20px;
}
.link-dot a {
  padding: 0 5px;
}
.link-button {
  align-items: center;
  background-color: #7160ff;
  color: #fff;
  display: flex;
  font-size: 14px;
  margin: 0 4px;
  padding: 0 15px;
}
.link-login {
  background-color: #3e3e3e;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  margin-left: auto;
  width: 150px;
}
.link-login span {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 14px;
  justify-content: center;
  width: calc(100% - 50px);
}
.icon-login {
  align-items: center;
  background-color: #515151;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-right: 10px;
  width: 40px;
}
.icon-login:before {
  background-color: #fff;
  height: 20px;
  padding: 10px;
  width: 20px;
}
/* Search */
#search {
  padding: 5px 0;
  margin-bottom: 15px;
  width: 100%;
}
#search form {
  background-color: #fff;
  display: flex;
  position: relative;
  width: 100%;
}
#search input,
#search button {
  border: 0;
}
#search .search-input {
  background-color: transparent;
  padding-left: 10px;
  width: calc(100% - 44px);
  z-index: 1;
}
#search .text-animations {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  height: 100%;
  left: 0;
  top: 0;
}
#search .text-animations p {
  color: #a6a6a6;
  line-height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 10px;
}
#search .wrap-text-animations {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  font-size: 15px;
  margin-top: -3px;
  -webkit-animation: TextAnimation 5s infinite;
          animation: TextAnimation 5s infinite;
}
#search .search-button {
  background: linear-gradient(45deg, #93f 0%, #f66 100%);
  height: 44px;
  padding: 0;
  position: relative;
  width: 44px;
}
#search .search-button:after {
  -webkit-animation: SearchLoop 4s ease-in-out 0s infinite;
          animation: SearchLoop 4s ease-in-out 0s infinite;
  background: linear-gradient(45deg, #93f 0%, #f66 50%, #93f 100%);
  background-size: 400%;
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
#search .icon-search:before {
  background-color: #fff;
  height: 30px;
  left: 7px;
  position: absolute;
  top: 7px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 30px;
  z-index: 1;
}
/* Categories Nav Mobile */
#categories-mobile {
  -webkit-animation: BarCategoriesMobile 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: BarCategoriesMobile 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  left: 0;
  -webkit-perspective: 1000;
          perspective: 1000;
  position: absolute;
  top: 58px;
  width: 100%;
  z-index: 2;
}
#categories-mobile .container {
  align-items: flex-start;
  flex-flow: column;
  position: relative;
}
#categories-mobile .container:before {
  -webkit-animation: BarCategoriesMobileTriangle 0.3s ease-out 0.7s 1 normal backwards;
          animation: BarCategoriesMobileTriangle 0.3s ease-out 0.7s 1 normal backwards;
  border-bottom: 8px solid;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  color: #e646b6;
  content: "";
  margin-top: -8px;
  position: absolute;
  right: 23px;
  top: 0;
}
#categories-mobile .container:after {
  -webkit-animation: BarCategoriesMobileAppear 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: BarCategoriesMobileAppear 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: linear-gradient(#e646b6 0%, #6157ff 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#categories-mobile .categories-section {
  font-weight: bold;
  padding: 15px 20px 5px;
  width: 100%;
}
#categories-mobile .categories-section:nth-child(2) {
  background-color: rgba(0,0,0,0.1);
}
#categories-mobile .categories-section:nth-child(3) {
  background-color: rgba(0,0,0,0.2);
}
#categories-mobile .categories-section:nth-child(4) {
  background-color: rgba(0,0,0,0.3);
}
#categories-mobile .categories-section h2 {
  font-family: "arial black";
  font-size: 24px;
  margin: 5px 0 15px;
}
#categories-mobile .categories-section .icon-right:before {
  background-color: #fff;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
  width: 20px;
}
#categories-mobile .categories-section a {
  align-items: center;
  display: flex;
  color: #fff;
}
#categories-mobile .categories-section ul {
  -webkit-columns: 125px 2;
          columns: 125px 2;
}
#categories-mobile .categories-section ul li {
  line-height: 32px;
  margin-bottom: 10px;
}
#categories-mobile .categories-section ul a {
  opacity: 0.8;
}
#categories-mobile .categories-last-section {
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  font-weight: bold;
  padding: 30px 20px;
  text-align: center;
  width: 100%;
}
#categories-mobile .categories-last-section h4 {
  font-family: "arial black";
  margin-bottom: 8px;
}
#categories-mobile .categories-last-section ul {
  display: flex;
  justify-content: center;
}
#categories-mobile .categories-last-section a {
  color: #fff;
  font-size: 12px;
  margin: 0 8px;
  opacity: 0.8;
}
/* Categories Nav Desktop */
#categories-desktop {
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
  background: linear-gradient(135deg, #e646b6, #93f);
  left: 0;
  position: absolute;
  top: 58px;
  width: 100%;
  z-index: 999;
}
#categories-desktop .categories-desktop-sections {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}
#categories-desktop .categories-desktop-sections ul {
  -webkit-columns: 2;
          columns: 2;
}
#categories-desktop .categories-section h2 {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  font-family: "arial black";
  font-size: 24px;
  margin: 5px 0 20px;
  padding-bottom: 10px;
}
#categories-desktop .categories-section li {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
}
#categories-desktop .categories-section a {
  color: #fff;
}
#categories-desktop .categories-section a:hover {
  opacity: 0.8;
  transition: opacity 0.25s;
}
#categories-desktop .no-columns ul {
  -webkit-columns: auto;
          columns: auto;
}
#categories-desktop .categories-desktop-footer {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 60px;
  width: 100%;
}
#categories-desktop .categories-desktop-footer h6 {
  border-right: 1px solid rgba(255,255,255,0.2);
  font-family: 'arial black';
  margin-right: 30px;
  padding-right: 30px;
}
#categories-desktop .categories-desktop-footer ul {
  display: flex;
}
#categories-desktop .categories-desktop-footer li {
  margin-right: 20px;
}
/* Use App */
#use-app {
  bottom: 25px;
  box-shadow: rgba(0,0,0,0.33) 0px 2px 14px;
  color: #fff;
  display: block;
  font-weight: bold;
  height: 40px;
  left: 50%;
  line-height: 40px;
  margin-left: -85px;
  position: fixed;
  text-align: center;
  width: 170px;
  z-index: 999;
  background: #6157ff;
  border-radius: 20px;
}
#use-app:before {
  content: "";
  height: 40px;
  left: 0px;
  position: absolute;
  top: -8px;
  width: 40px;
  background: url(/images/use-app.gif?14a400103524e90c62a0b4bf92c97cd9) center center/contain no-repeat;
}
/* Trending y Searchs */
#trending header,
#search-results header {
  align-items: center;
  color: #a6a6a6;
  display: flex;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 0 10px;
  text-transform: uppercase;
}
#trending .see-all,
#search-results .see-all {
  color: #a6a6a6;
  display: flex;
  margin-left: auto;
}
#trending .see-all i:before,
#search-results .see-all i:before {
  background-color: #a6a6a6;
  height: 15px;
  width: 15px;
}
#trending ul,
#search-results ul {
  -webkit-column-count: 5;
          column-count: 5;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}
#trending li,
#search-results li {
  margin-bottom: 10px;
}
#trending li:nth-child(1n+0),
#search-results li:nth-child(1n+0) {
  background-color: #0f9;
}
#trending li:nth-child(2n+0),
#search-results li:nth-child(2n+0) {
  background-color: #93f;
}
#trending li:nth-child(3n+0),
#search-results li:nth-child(3n+0) {
  background-color: #f66;
}
#trending li:nth-child(4n+0),
#search-results li:nth-child(4n+0) {
  background-color: #fff35c;
}
#trending img,
#search-results img {
  height: auto;
  width: 100%;
}
#search-results {
  margin-bottom: 20px;
}
/* Upload Mobile */
#upload-mobile {
  -webkit-animation: UploadMobile 0.5s ease-out 0.2s 1 normal backwards;
          animation: UploadMobile 0.5s ease-out 0.2s 1 normal backwards;
  height: 100%;
  margin: 0 auto;
  min-width: 280px;
  max-width: 380px;
  padding-top: 40px;
  width: 86%;
}
#upload-mobile .wrap-upload-mobile {
  color: #fff;
  padding: 60px 6px 76px;
  text-align: center;
}
#upload-mobile h1,
#upload-mobile h2 {
  font-family: 'arial black';
}
#upload-mobile h1 {
  font-size: 34px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
#upload-mobile h2 {
  font-size: 14px;
  margin-bottom: 10px;
  opacity: 0.8;
}
#upload-mobile .upload-mobile-buttons {
  padding: 20px 0;
}
#upload-mobile .upload-camera {
  line-height: 50px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
#upload-mobile .upload-camera:before {
  background-color: #6157ff;
  content: "Upload from Camera Roll";
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  height: 100%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#upload-mobile .upload-url {
  background-color: #fff;
  border: none;
  font-size: 12px;
  font-weight: 600;
  height: 50px;
  margin-top: 10px;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#upload-mobile .upload-mobile-footer {
  bottom: 10px;
  font-size: 13px;
  font-weight: 600;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
#upload-mobile .upload-mobile-footer h4 {
  color: #fff;
  margin-bottom: 15px;
}
#upload-mobile .upload-mobile-footer h4 a {
  color: #00cdff;
}
#upload-mobile .upload-mobile-footer ul {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}
#upload-mobile .upload-mobile-footer ul a {
  color: #a6a6a6;
}
/* Upload Desktop */
#upload-desktop .upload-desktop-nav {
  align-items: center;
  display: flex;
}
#upload-desktop .logo-text {
  font-size: 2.3em;
}
#upload-desktop .upload-desktop-login {
  background-color: #3e3e3e;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-left: auto;
  width: 170px;
}
#upload-desktop .upload-desktop-login span {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 14px;
  justify-content: center;
  width: calc(100% - 50px);
}
#upload-desktop .icon-login {
  align-items: center;
  background-color: #515151;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-right: 10px;
  width: 40px;
}
#upload-desktop .icon-login:before {
  background-color: #fff;
  height: 20px;
  padding: 10px;
  width: 20px;
}
#upload-desktop .wrap-upload-desktop {
  background: linear-gradient(135deg, #6157ff, #e646b6);
  color: #fff;
  margin: 20px 5% 0;
  padding: 45px 75px;
}
#upload-desktop .wrap-upload-desktop header {
  text-align: center;
}
#upload-desktop .wrap-upload-desktop header h3 {
  font-family: 'arial black';
  font-size: 26px;
  font-weight: 600;
  margin: 15px 0 10px;
  text-align: center;
}
#upload-desktop .wrap-upload-desktop header p {
  margin: 0 auto;
  width: 70%;
}
#upload-desktop .upload-desktop-inputs {
  padding: 20px;
  margin-top: 30px;
}
#upload-desktop .input-first {
  display: flex;
  min-height: 125px;
  position: relative;
}
#upload-desktop .input-first:before {
  border: 2px dashed #fff;
  content: "";
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
#upload-desktop .input-first:after {
  border: 0.1em dashed #fff;
  content: "";
  height: 100%;
  left: calc(50% - 2px);
  opacity: 0.5;
  position: absolute;
  width: 1px;
}
#upload-desktop .input-first-left,
#upload-desktop .input-first-right {
  position: relative;
  width: 50%;
}
#upload-desktop .input-first-left:before,
#upload-desktop .input-first-right:before {
  background-color: #fff;
  content: "";
  height: calc(100% - 10px);
  margin: 5px;
  opacity: 0.2;
  position: absolute;
  width: calc(100% - 10px);
  z-index: 0;
}
#upload-desktop .upload-pc,
#upload-desktop .upload-dragdrop {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
#upload-desktop .upload-pc p,
#upload-desktop .upload-dragdrop p {
  font-weight: 600;
  text-transform: uppercase;
}
#upload-desktop .upload-pc span,
#upload-desktop .upload-dragdrop span {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  opacity: 0.6;
  text-transform: none;
}
#upload-desktop .upload-pc-icon,
#upload-desktop .upload-dragdrop-icon {
  height: 55px;
  width: 54px;
}
#upload-desktop .upload-pc-icon {
  background: url(/images/upload-pc.svg?5caa3c384b28ada4eb849db9d14f4e3f) no-repeat 0 0;
}
#upload-desktop .upload-dragdrop-icon {
  background: url(/images/upload-dragdrop.svg?da05f5ef047faa74d72b96c0596d37bb) no-repeat 0 0;
}
#upload-desktop .input-last {
  background-color: rgba(255,255,255,0.1);
  margin-top: 25px;
  padding: 35px;
  width: 100%;
}
#upload-desktop .input-last p {
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#upload-desktop .input-last input {
  border: none;
  font-size: 12px;
  height: 40px;
  padding: 0 10px;
  width: 100%;
}
#upload-desktop .upload-desktop-links {
  display: flex;
  padding-left: 20px;
}
#upload-desktop .upload-desktop-links a {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-right: 15px;
  text-transform: uppercase;
}
/* Querys */
@media only screen and (max-width: 1024px) {
  #upload-desktop,
  #nav .links-desktop {
    display: none;
  }
  #nav .nav-scroll {
    top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  #upload-mobile,
  #nav .links-mobile,
  #use-app {
    display: none;
  }
  #nav .logo-text {
    font-size: 2em;
  }
}
/* Animations */
@-webkit-keyframes LoaderExpand {
  0% {
    width: 66px;
  }
  100% {
    width: 100px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes LoaderExpand {
  0% {
    width: 66px;
  }
  100% {
    width: 100px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes LoaderdotA {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes LoaderdotA {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes LoaderdotB {
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes LoaderdotB {
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes LoaderdotC {
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes LoaderdotC {
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes LoaderdotD {
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes LoaderdotD {
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes LogoSVG {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1280px 0;
  }
}
@keyframes LogoSVG {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1280px 0;
  }
}
@-webkit-keyframes TextAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  45% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  95% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes TextAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  45% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  95% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@-webkit-keyframes SearchLoop {
  0% {
    background-position: 0 0;
    opacity: 0.8;
  }
  100% {
    background-position: 100% 0;
    opacity: 0.2;
  }
}
@keyframes SearchLoop {
  0% {
    background-position: 0 0;
    opacity: 0.8;
  }
  100% {
    background-position: 100% 0;
    opacity: 0.2;
  }
}
@-webkit-keyframes BarCategoriesMobile {
  0% {
    margin-bottom: -50px;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    pointer-events: none;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes BarCategoriesMobile {
  0% {
    margin-bottom: -50px;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    pointer-events: none;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes BarCategoriesMobileAppear {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes BarCategoriesMobileAppear {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@-webkit-keyframes BarCategoriesMobileTriangle {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0);
            transform: translate3d(0, 0);
  }
}
@keyframes BarCategoriesMobileTriangle {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0);
            transform: translate3d(0, 0);
  }
}
